<template>
  <div>
    <h3 class="float-left">รายการอบรม</h3>
    <b-navbar-nav class="float-right">
      <b-nav-form>
        <b-form-input
          size="sm"
          class="mr-sm-2"
          placeholder="Search"
        ></b-form-input>
        <b-button size="sm" class="my-2 my-sm-0" type="submit">ค้นหา</b-button>
      </b-nav-form>
    </b-navbar-nav>

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อโครงการ :"
          label-for="name"
          :valid-feedback="validFeedbackName"
        >
          <b-form-input
            id="name-input"
            v-model="form.name"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="วันที่ :"
          label-for="date"
          :valid-feedback="validFeedbackName"
        >
          <b-form-input
            id="date-input"
            v-model="form.date"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เวลาเริ่ม :"
          label-for="timein"
          :valid-feedback="validFeedbackName"
        >
          <b-form-input
            id="timein-input"
            v-model="form.timein"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เวลาสิ้นสุด :"
          label-for="timeout"
          :valid-feedback="validFeedbackName"
        >
          <b-form-input
            id="timeout-input"
            v-model="form.timeout"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ประเภท :"
          label-for="type"
          :valid-feedback="validFeedbackName"
        >
          <b-form-input
            id="type-input"
            v-model="form.type"
            :disabled="showToggle"
            required
          ></b-form-input>
          <b-form-group
          label="บริษัท :"
          label-for="corperation"
          :valid-feedback="validFeedbackName"
        >
          <b-form-input
            id="corperation-input"
            v-model="form.corperation"
            :disabled="showToggle"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="รายละเอียด :"
          label-for="detailss"
          :valid-feedback="validFeedbackName"
        >
        <b-form-textarea
          id="detailss-input"
          v-model="form.detailss"
          :disabled="showToggle"
          rows="3"
          max-rows="6"
        ></b-form-textarea>

        <pre class="mt-3 mb-0">{{ detailss }}</pre>
        </b-form-group>
        </b-form-group>
      </form>
      <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card> -->
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button size="sm" @click="detailUser(data.item)">รายละเอียด</b-button>
        &nbsp;
        <b-button size="sm"  @click="registerUser(data.item)">ลงทะเบียน</b-button
        >
      </template>
    </b-table>
    <div class="overflow-auto">
      <!-- <b-pagination
        v-model="currentPage"
        :total-rows="row"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination> -->
      <b-pagination-nav :link-gen="linkGen" :number-of-pages="10" use-router></b-pagination-nav>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showToggle: false,
      perPage: 3,
      currentPage: 1,
      title: '',
      detailss: '',
      form: {
        name: '',
        date: '',
        timein: '',
        timeout: '',
        type: '',
        corperation: '',
        detailss: ''
      },

      userList: [
        { name: 'CDG', date: '01-01-2020', timein: '13:00', timeout: '16:00', type: 'เตรียมความพร้อม', corperation: 'CDG', detailss: 'จำกัด 200 คน ห้ามเล่นมือถือหรือหลับ' },
        { name: 'CDG', date: '02-01-2020', timein: '13:00', timeout: '16:00', type: 'วิชาการ', corperation: 'CDG', detailss: 'จำกัด 200 คน ห้ามเล่นมือถือหรือหลับ' }
      ],
      lastId: 3,
      fields: [
        { key: 'name', label: 'ชื่อโครงการ' },
        { key: 'date', label: 'วันที่' },
        { key: 'timein', label: 'เวลาเริ่ม' },
        { key: 'timeout', label: 'เวลาสิ้นสุด' },
        { key: 'type', label: 'ประเภท' },
        { key: 'corperation', label: 'บริษัท' },
        { key: 'operation', label: 'การทำงาน' }
      ]
    }
  },
  methods: {
    linkGen (pageNum) {
      return pageNum === 1 ? '?' : `?page=${pageNum}`
    },
    detailUser (user) {
      console.log('Detail ')
      console.log(user)
      this.title = 'รายละเอียด'
      this.form = { ...user }
      this.showToggle = true
      this.$bvModal.show('modal-form-user')
    },
    resetModal () {
      this.form = {
        name: '',
        date: '',
        timein: '',
        timeout: '',
        type: '',
        corperation: '',
        detailss: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (this.stateName === false) return
      if (this.form.id > 0) {
        // Do when pass validation
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    detailsUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    rows () {
      return this.items.length
    }
  }
}
</script>
